header {
    width: 100%;
    text-align: center;
}

nav {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.unavailable {
    text-decoration: line-through;
}

h2 {
    color: var(--text-color);
    padding: 1em;
}

footer {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

footer>a>img {
    width: 50px;
    height: 50px;
}