:root {
    --text-color: #C9C9C9;
    --border-color: #959492;
    --font-var: "EB Garamond", serif;
}

html {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background:
        radial-gradient(circle at 10% 20%, #153e40, transparent 50%),
        radial-gradient(circle at 90% 80%, #9e784e, transparent 55%),
        linear-gradient(135deg, #778f79, #092823);
    background-attachment: fixed;
    font-family: var(--font-var);
    color: var(--text-color);
    text-shadow: 1px 1px black;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}