input {
  font-family: "EB Garamond", serif;

  background: linear-gradient(
    180deg,
    #1D1C17,
    #1B1914
  );

  border: 0.15em solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.5em;

  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 0.06em;

  outline: none;
  box-shadow:
    inset 0 0 0 1px rgba(255, 220, 150, 0.08),
    inset 0 -8px 16px rgba(0, 0, 0, 0.6);

  transition: border 0.25s ease-in, border-radius 0.25s ease-in;
}

input:focus {
  border: 0.15rem solid #484539;
  background: #0D0D09;
}