nav {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 5em;
}

h2 {
  color: var(--text-color);
  padding: 1em;
}

.unavailable {
  text-decoration: line-through;
}