#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
}

th {
  width: 12%;
  background-color: gray;
}

td {
  width: 12%;
  background-color: gray;
}