:root {
  --text-color: #C9C9C9;
  --border-color: #959492;
}

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background:
    radial-gradient(circle at 10% 20%, #153e40, transparent 50%),
    radial-gradient(circle at 90% 80%, #9e784e, transparent 55%),
    linear-gradient(135deg, #778f79, #092823);
  background-attachment: fixed;
  font-family: "EB Garamond", serif;
  color: var(--text-color);
  text-shadow: 1px 1px black;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5vw;
}

.box {
  width: 100%;
  border-radius: 1em;
  padding: 0.5vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(100px);
  border: 0.01em solid #0D0D09;
}

.hoverAnim {
  transition: all 0.2s ease;
}

.hoverAnim:hover{
  cursor: pointer;
  transform: scale(1.05);
}

header {
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 5em;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

footer > a > img {
  width: 50px;
  height: 50px;
}

th, td {
  width: 12%;
  height: 5em;
}

input {
  padding: 0.5em;
}

th, td, input {
  font-family: "EB Garamond", serif;

  background: linear-gradient(
    180deg,
    #1D1C17,
    #1B1914
  );

  border: 0.15em solid var(--border-color);
  border-radius: 0.5em;

  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 0.06em;

  outline: none;
  box-shadow:
    inset 0 0 0 1px rgba(255, 220, 150, 0.08),
    inset 0 -8px 16px rgba(0, 0, 0, 0.6);

  transition: border 0.25s ease-in, border-radius 0.25s ease-in;
}

p {
  height: 1em;
  margin: 0.2em;
}

input:focus {
  border: 0.15rem solid #484539;
  background: #0D0D09;
}

td.wrong {
  background: linear-gradient(
    180deg,
    #493f0d,
    #1B1914
  );
}

td.veryWrong {
  background: linear-gradient(
    180deg,
    #3b0505,
    #1B1914
  );
}

td.good {
  background: linear-gradient(
    180deg,
    #084217,
    #1B1914
  );
}
