html {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background:
    radial-gradient(circle at 10% 20%, #153e40, transparent 50%),
    radial-gradient(circle at 90% 80%, #9e784e, transparent 55%),
    linear-gradient(135deg, #778f79, #092823);
  font-family: "EB Garamond", serif;
  color: azure;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 10px;
}

th {
  width: 12%;
  background-color: gray;
  border-radius: 5px;
}

td {
  width: 12%;
  background-color: gray;
  border-radius: 5px;
}

.box {
  width: 80%;
  border-radius: 5px;
  border: solid black 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(100px);
}

.hoverAnim:hover{
  cursor: pointer;
  transform: scale(1.05);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer > a > img {
  width: 50px;
  height: 50px;
}